<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <main>
    
    <div class="row">
      <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Weather-Man!</h1>
            
            <div class="container">
              <form class="form-inline" action="/weather" method="POST">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" placeholder="e.g.: London"/>
                    <input class="btn btn-primary" type="submit" value="Check Weather!"/>
              </form>
            </div>

        </div>
      </div>
    </div>

  </main>
  
  <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>
</html>