<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>

  </header>
 
  <main>
    <div class="row">
      <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Weather-Man!</h1>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>
</html>